<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="BpmServers" type="Ns.BpmOnline.Worker.BpmServersConfigSection, Ns.BpmOnline.Worker"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <appSettings>
      <add key="workerName" value="MKP_LOCAL_2" />
      <add key="rabbitMqHost" value="localhost:5673" />
      <add key="rabbitMqLogin" value="guest" />
      <add key="rabbitMqPassword" value="guest" />
    </appSettings>
    <system.net>
      <connectionManagement>
        <add address = "*" maxconnection = "1000" />
      </connectionManagement>
   </system.net>
   <BpmServers>
    <Servers>
      <add
          type="TargetHost"
          name="MKP2_LOCAL" 
          host="http://localhost:819/"
          login="Supervisor" 
          pass="Supervisor"
          path="C:\BPM\Work\MKP2\" 
          svnUri="http://10.110.50.120:3001/svn/BPMMetallProfil_712/trunk/"
          svnLogin="testuser"
          svnPass="@testuser123"/>
      <add
         type="AdministrationHost"
         name="AdministrationHost"
         host="http://localhost:809/"
         login="Supervisor"
         pass="Supervisor"/>
    </Servers>
   </BpmServers>
</configuration>